---
import { SITE_CONFIG } from "../site.config";
---

<footer class="site-footer">
  <div class="container">
    <p>
      &copy; {SITE_CONFIG.copyrightYears} {SITE_CONFIG.author}.
      Built with <a href="https://astro.build">Astro</a>.
    </p>
    <p>
      <a href="/rss.xml">RSS</a>
      <span aria-hidden="true"> &middot; </span>
      <a href="/sitemap-index.xml">Sitemap</a>
    </p>
  </div>
</footer>
